SSH(ACCEPT) net $FW
SSH(ACCEPT) net loc

Ping(ACCEPT) net $FW
Ping(ACCEPT) net loc

# Unix traceroute
ACCEPT net $FW udp 33434:33534
ACCEPT net loc udp 33434:33534

# n2 SSH
ACCEPT net loc:bm-n2.metacpan.org tcp 2202

# n2 HTTP
ACCEPT net loc:bm-n2.metacpan.org tcp http,https
